Floor/FloorSchema.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/Floor"
  xmlns:fl="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/Floor"
  xmlns:fp="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/Footprint"
  xmlns:ct="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/CommonTypes"
  elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import
    namespace="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/Footprint"
    schemaLocation="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/Footprint/FootprintSchema.xsd"/>

  <xs:import
    namespace="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/CommonTypes"
    schemaLocation="http://crazyhorse.archaeologie.uni-koeln.de/~pgunia/SchemaDocuments/CommonTypes/CommonTypes.xsd"/>

  <!--  ############################## Floor-Schema ############################## -->

  <xs:element name="floor">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Floor-Element contains all necessary information to create a
        floor for the building. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element name="floorposition" type="fl:floorPositions"/>
          <xs:choice>
            <xs:annotation>
              <xs:documentation xml:lang="en">
                Floors can be defined from scratch using a local or external floor-definition. Or they can resuse previously defined floor-structures.
              </xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="fp:footprint"/>
              <xs:element name="floorHeight" type="ct:range">
                <xs:annotation>
                  <xs:documentation xml:lang="en"> Height of the current floor. </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element name="reuseFloorDefinition" type="fl:ReuseSource" />
          </xs:choice>
           </xs:sequence>
        <xs:element ref="ct:extern" />
        
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="floorPositions">
    <xs:annotation>
      <xs:documentation xml:lang="en"> Enumeration-Datatype describing all potential
        floor-positions. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL" />
      <xs:enumeration value="GROUND"/>
      <xs:enumeration value="INTERMEDIATE"/>
      <xs:enumeration value="TOP"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ReuseSource">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Enum is used when floor-definitions should be reused. The enum-values define which floor should be reused. In case of floor-definition-reuse the footprint is not recomputed based on the footprint-algorithm.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PREVIOUS" />
      <xs:enumeration value="GROUND" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>


